* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.navbar {
  height: 80px;
  width: 100%;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index:100;
}
.logo {
  /* border: 2px solid white;*/
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo > svg {
  fill: white;
}
.navlinks {
  /*border: 2px solid white;*/
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
navlinks > li {
  height: 100%;
  display: flex;
  align-items: center;
}

.navlinks a {
  color: white;
  text-decoration: none;
  padding: 7.5px 16px;
  border-radius: 5px;
  transform: 0.2s;
  letter-spacing: 0.08em;
  font-size: 13px;
}
.navlinks > li:hover > a {
  background-color: #2b2a29;
  color: crimson;
}
.web-icon {
  /*border: 2px solid white; */
  padding: 10px;
}
.web-icon {
  /* border: 2px solid white;*/
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}
.search-icon {
  padding: 8px;
  border-radius: 50%;
  background-color: #2b2a29;
  cursor: pointer;
}
.web-icon > button {
  padding: 8px 16px;
  font-size: 13px;
  border-radius: 10px;
  border: none;
  background-color: #ff3c46;
  font-weight: 600;
  letter-spacing: 0.08em;
  cursor: pointer;
}
.web-icon > .web {
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.web-icon > .web:hover {
  background-color: #2b2a29;
}
.video-container {
  height: 80vh;
  width: 100%;
  background-color: yellow;
  position: relative;
}
.video-container > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.hero-content {
 /* border: 2px solid white;*/
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content > h1 {
  font-family: fantasy;
  margin: 32px 0 64px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ece8e1;
  font-weight: 400;
}
.hero-content > button {
  padding: 18px 32px;
  background-color: #ff4655;
  color: #ece8e1;
  border: 1px solid #ece8e1;
  cursor: pointer;
}
/* LATEST SECTION */
.latest-container{
background-color: #ece8e1;
padding: 40px;
}
.latest-container>header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-container h1{
  font-size:48px;
  font-family: fantasy;
  letter-spacing: 0.028em;
}
.latest-container p{
  font-weight: 600;
}